<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/01-introduction/index.html">01 Welcome and Introductions</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/02-From-Computer_to_HPC/index.html">02 From Computer to HPC</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/03-HPC-architecture-overview/index.html">03 HPC architecture overview</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/04-what-is-a-job/index.html">04 what is a job</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/05-Accessing-Remotes-Sytems-with-SSH/index.html">05 Accessing HPC with SSH</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/06-Directories/index.html">06 directories</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/07-Slurm-Basics/index.html">07-SLURM-BASICS</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/08-Sumhpc/index.html">08-Sumhpc</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/09-Sumhpc-Slurm-configuration/index.html">09-Sumhpc-SLUM-configuration</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/10-Interactive-srun-Jobs/index.html">10-srun</a></td> </tr>   
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/11-Software-on-Sumhpc/index.html">11-software-on-sumner</a></td> </tr>   
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/12-Batch-Jobs-with-sbatch/index.html">12-sbatch</a></td> </tr>   
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/13-Job-Statistics-and-Histories/index.html">13-job-statistics-histories</a></td> </tr>   
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/14-Globus-for-Data-Transfers/index.html">14-globus-for-data-transfers</a></td> </tr>   
      <tr> <td>11:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>