<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/01-introduction/index.html">01 Welcome and Introductions</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/02-From-Computer_to_HPC/index.html">02 From Computer to HPC</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/03-HPC-architecture-overview/index.html">03 HPC architecture overview</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/04-what-is-a-job/index.html">04 what is a job</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/05-accessing-hpc-with-SSH/index.html">05 Accessing HPC with SSH</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/06-directories/index.html">06 directories</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/07-SLURM-BASICS/index.html">07-SLURM-BASICS</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/08-Sumhpc/index.html">08-Sumhpc</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/09-Sumhpc-SLUM-configuration/index.html">09-Sumhpc-SLUM-configuration</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/10-srun/index.html">10-srun</a></td> </tr>   
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/11-software-on-sumner/index.html">11-software-on-sumner</a></td> </tr>   
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/12-sbatch/index.html">12-sbatch</a></td> </tr>   
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/13-job-statistics-histories/index.html">13-job-statistics-histories</a></td> </tr>   
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/14-globus-for-data-transfers/index.html">14-globus-for-data-transfers</a></td> </tr>   
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>