<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/01-introduction/index.html">01 Welcome and Introductions</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/02-From-Computer_to_HPC/index.html">02 From Computer to HPC</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/03-HPC-Architecture-Overview/index.html">03 HPC Architecture Overview</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/04-What-is-a-Job/index.html">04 What is a Job</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/05-Accessing-Remotes-Sytems-with-SSH/index.html">05 Accessing Remotes Sytems with SSH</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/06-Directories/index.html">06 Directories</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/07-Slurm-Basics/index.html">07 Slurm Basics</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/08-Sumhpc/index.html">08 Sumhpc</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/09-Sumhpc-Slurm-Configuration/index.html">09 Sumhpc Slurm Configuration</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/10-Interactive-srun-Jobs/index.html">10 Interactive SRUN Jobs</a></td> </tr>   
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/11-Software-on-Sumhpc/index.html">11 Software on Sumhpc</a></td> </tr>   
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/12-Batch-Jobs-with-sbatch/index.html">12 Batch Jobs with sbatch</a></td> </tr>   
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/13-Job-Statistics-and-Histories/index.html">13 Job Statistics and Histories</a></td> </tr>   
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-hpc/14-Globus-for-Data-Transfers/index.html">14 Globus for Data Transfers</a></td> </tr>   
      <tr> <td>11:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
